@import "tailwindcss";


@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}

@layer components {
  .triangle {
    border-bottom: 8px solid transparent;
    border-left: 8px;
    border-right: 8px solid;
    border-top: 8px solid transparent;
    position: absolute;
  }
  
}

a {
  @apply text-blue-500;
}


@layer utilities {
  .gradient-main {
    background: rgb(35, 158, 215);
    background: radial-gradient(
      circle,
      rgba(35, 158, 215, 1) 0%,
      rgba(14, 87, 120, 1) 100%
    );
  }
}
.ck.ck-content {
  height: 300px !important;
}
.ck.ck-balloon-panel {
  z-index: 10000000 !important;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

.default-shadow {
  box-shadow: 0px 10px 0px #000000

}

.triangle-left {
  width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 19px solid ;
    border-bottom: 12px solid transparent;
}

.message-shadow { 
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .25));
}


/* Общий стиль для всех скроллбаров */
::-webkit-scrollbar {
  width: 8px; /* Тонкий скроллбар, как в macOS */
  height: 8px;
}

/* Ползунок (самая важная часть) */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Полупрозрачный, как в macOS */
  border-radius: 10px; /* Закругленные края */
}

/* Ползунок при наведении */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Фон дорожки скроллбара */
::-webkit-scrollbar-track {
  background: transparent; /* В macOS его не видно */
}

/* Делаем скроллбары скрывающимися (имитирует поведение macOS) */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}